.user-card {
  overflow-x: hidden;

  .card-style {
    margin: 10px 0px;
    border: none;
    border-radius: 0;
    min-height: 350px;
  }
  .card-avatar {
    min-height: 260px;
    background-color: gray;
    .card-img {
      border-radius: 0;
      object-fit: cover;
    }
  }
}
