.user-card {
  overflow-x: hidden;

  .user-heading {
    margin: 10px 0px 0px 0px;
  }

  .user {
    color: black;
    text-decoration: none;

    .card-style {
      margin: 10px 0px;
      border: none;
      border-radius: 0;
      min-height: 350px;
    }
    .card-avatar {
      min-height: 250px;
      background-color: gray;
      .card-img {
        border-radius: 0;
        object-fit: cover;
      }
    }
  }

  .user:hover {
    color: black;
    text-decoration: none;
  }
}
