@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./Fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black !important;
  /* background-image: url("/src/Assets/images/camp.jpg") !important; */
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
